<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Appointment Reminder Email Template</title>
    <meta name="description" content="Account creation mail" />
    <title>Account has been created</title>
    <style>
      .container{ width: min(100% - 2em, 600px); margin: auto; }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="{{link}}">Click here to reset your password</a>
    </div>
  </body>
</html>