<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <span>
      Your account has been verified successfully.
    </span>
    <br />
    <span>
      You can now login to your account.
    </span>
    <br />
    <a href="{{FRONTEND_URL}}/login">Login</a>
  </body>
</html>