<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Appointment Reminder Email Template</title>
    <meta name="description" content="Appointment Reminder Email Template" />
    <style>
      a:hover { text-decoration: underline !important; }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8"
    leftmargin="0"
  >

    <a href="https://rakeshmandal.com" title="logo" target="_blank">
      <img
        width="100"
        src="http://www.shrivjmodhacollege.com/images/icon.png"
        title="logo"
        alt="logo"
      />
    </a>

    <table
      width="95%"
      border="0"
      align="center"
      cellpadding="0"
      cellspacing="0"
      style="
                    max-width: 670px;
                    background: #fff;
                    border-radius: 3px;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    padding: 0 40px;
                  "
    >
      <tr>
        <td style="height: 40px">&nbsp;</td>
      </tr>
      <!-- Title -->
      <tr>
        <td style="padding: 0 15px; text-align: center">
          <h1
            style="
                          color: #1e1e2d;
                          font-weight: 400;
                          margin: 0;
                          font-size: 32px;
                          font-family: 'Rubik', sans-serif;
                        "
          >
            Admission Form Details
          </h1>
          <span
            style="
                          display: inline-block;
                          vertical-align: middle;
                          margin: 29px 0 26px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        "
          ></span>
        </td>
      </tr>
      <!-- Details Table -->
      <tr>
        <td>
          <table
            cellpadding="0"
            cellspacing="0"
            style="max-width: 100%; border: 1px solid #ededed"
          >
            <tbody>

              <tr>
                <td>
                  <table
                    cellpadding="0"
                    cellspacing="0"
                    style="width: 100%; border: 1px solid #ededed"
                  >
                    <tbody>

                      {{!-- <tr>
                        <td
                          style="
                                padding: 10px;
                                border-bottom: 1px solid #ededed;
                                border-right: 1px solid #ededed;
                                width: 35%;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.64);
                              "
                        >
                          Surname:
                        </td>
                        <td
                          style="
                                padding: 10px;
                                border-bottom: 1px solid #ededed;
                                color: #455056;
                              "
                        >
                          {{data.surname}}
                        </td>
                        <td
                          rowspan="3"
                          style="
                                padding: 10px 10px 10px 10px;
                                border-bottom: 1px solid #ededed;
                                color: #455056;
                              "
                        >

                          <img
                            src="https://w7.pngwing.com/pngs/340/946/png-transparent-avatar-user-computer-icons-software-developer-avatar-child-face-heroes-thumbnail.png"
                            alt="Flowers in Chania"
                            height="auto"
                            width="100px"
                          />
                        </td>
                      </tr> --}}

                      {{#each data}}
                        <tr>
                          <td
                            style="
                                padding: 10px;
                                border-bottom: 1px solid #ededed;
                                border-right: 1px solid #ededed;
                                width: 35%;
                                font-weight: 500;
                                color: rgba(0, 0, 0, 0.64);
                                text-transform: capitalize;
                              "
                          >
                            {{formatKey @key}}:
                          </td>
                          <td
                            style="
                                padding: 10px;
                                border-bottom: 1px solid #ededed;
                                color: #455056;
                              "
                          >
                            {{this}}
                          </td>
                        </tr>
                      {{/each}}

                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
    <script>
      function formatKey(key){ return key[0].toupperCase() +
      key.slice(1).replace(/_/g, ' '); }
    </script>
  </body>
</html>